* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  background-color: #0f0c29;
  width: 1100px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
}
.container:hover {
  transition: 1s ease-in-out;
  box-shadow: 0px 0px 18px 4px white;
}
.container .head {
  margin: 50px;
}
.head h1 {
  color: white;
  font-size: 70px;
  font-family: "Italianno", cursive;
}
.head p {
  color: white;
  font-size: 20px;
}
.container .op {
  margin: 60px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 40px;
}
.op label {
  color: white;
  font-size: 20px;
}
input {
  margin-bottom: 20px;
  font-size: 20px;
  width: 200px;
  border: 1px solid white;
  border-radius: 2px;
  margin: 5px 20px 20px 0px;
}
button {
  font-size: 15px;
  background-color: #0f0c29;
  color: white;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  width: 200px;
}
button:hover {
  background-color: #302b63;
  transition: 0.5s ease;
  cursor: pointer;
}
p.result {
  color: white;
  font-size: 20px;
  margin: 10px;
}
form {
  height: 100%;
}
span.error{
    color : white;
    font-size: 20px;
}